@using Teleboard.Models
@using Teleboard.Localization
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = Resources.Login;
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
{
    <div class="card">
        <div class="card-header">
            <b>@Resources.AppName</b> - @Resources.Login
        </div>
        <div class="card-block">
            <div class="form-group row">
                <label for="Email">Email address</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group row">
                <label for="Password">Email address</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary form-control">Login</button>
            </div>
            <div class="form-group row">
                @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", new { @class = "btn btn-link p-x-0" })
            </div>
            <div class="form-group row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
