@model Teleboard.DomainModel.Core.ContentType

@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

<h3>@Resources.AreYouSureYouWantToApproveThis</h3>
<div>
    <h4>@Resources.ContentType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Delete" class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList, "Index")
        </div>
    }
</div>
