@model Teleboard.PresentationModel.Model.Content.ContentPM
@using Teleboard.PresentationModel.Model.Content;
@using System.IO;

@{
    ViewBag.Title = Resources.EditContent;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card card-outline-success">
        <div class="card-header">
            <h4 class="m-b-0 text-white">@(Path.GetFileName(Model.Source))</h4>
        </div>
        <div class="card-block card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.TenantId)
                        @Html.HiddenFor(model => model.Source)
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.FileSizeString, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input value="@string.Format("{0}", Model.FileSizeString)" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.Partial("_ContentThumbnail", Model)
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success waves-effect waves-light">
                <span class="btn-label"><i class="fa fa-save"></i></span>@Resources.Save
            </button>
        </div>
    </div>
}

@section BreadcrumbItems {
    <li class="breadcrumb-item">
        <a href="/Contents">@Resources.Contents</a>
    </li>
    <li class="breadcrumb-item">@Model.Description</li>
    <li class="breadcrumb-item active">@Resources.Edit</li>
}

@section Scripts {
}
